:root {
    --primary-color: #585fbb;
    --primary-color-hover: #4c53af;
    --secondary-color: #f0f0f0;
    --secondary-color-hover: #e0e0e0;
    --background-color: #f0f0f0;
    --forground-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 20px;
}

/*style for the header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/*style for the new entry form*/
#new_entry {
    margin-top: 20px;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#new_entry h2{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
}

#new_entry form {
    background-color: var(--forground-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#new_entry label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#new_entry select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#new_entry input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#new_entry textarea {
    resize: none;
}

#new_entry input[type="color"] {
    width: 100%;
    background-color: white;
}
#new_entry input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
#new_entry input[type="color"]::-webkit-color-swatch {
	border: none;
}
#new_entry input[type="range"] {
    accent-color: var(--primary-color);
}

#new_entry button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
}

#new_entry button:hover {
    background-color: var(--primary-color);
}

#new_entry fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}
#new_entry fieldset input {
    margin: unset;
    width: unset;
}
#new_entry fieldset label {
    margin: unset;
    width: unset;
    display: inline;
    font-weight: normal;
    margin-right: 10px;
}
#new_entry legend {
    font-weight: bold;
}

#geschmack_entscheidung {
    display: flex;
    margin: 0;
}

#geschmack_entscheidung fieldset {
    flex: 1;
    margin-right: 10px;
}

#submit_buttons_div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#cancel_button{
    background-color: var(--secondary-color) !important;
    color: black !important; 
}

#cancel_button:hover {
    background-color: var(--secondary-color-hover) !important;
}

/*style for the entries*/


